<section class="content-header" style="margin-left: 20%">
    <ol class=" row">
        <h3  class="active text-primary" >Edit User Details</h3>

    </ol>

      <br />
</section>
<div class="panel panel-default"style="margin-left: 20%; margin-right: 25%;">
    <div class="panel-body">
      <form class="form-horizontal" (submit)="updateUser()">
        
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label"> <b>FirstName </b></label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="user.name" name="name" style="border: 1px solid;">
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="col-sm-2 control-label"><b>UserName </b> </label>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="user.username" name="username" style="border: 1px solid;">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label"><b>UsersEmail </b> </label>
          <div class="col-sm-9">
            <input type="text" class="form-control"  [(ngModel)]="user.email" name="email" style="border: 1px solid;">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-success">Update</button> &nbsp;
            <a  class="btn btn-info" (click)="backToViewUsers()">Cancel</a>
          </div>

        </div>
  </form>

    </div>
  </div>
