<div *ngIf="isLoggedIn; else loggedOut">
    <!-- <app-dashboard></app-dashboard> -->
</div>

<ng-template #loggedOut>

  <html class="bg-black">
  <head>

      <title>WIMEA Weather Data Repository - Log in</title>
      <meta charset="UTF-8">
  </head>
  <body class="bg-black">


  <div class="form-box" id="login-box">
      <h3 class="head">WIMEA-ICT Weather Data Repository</h3>
      <h4 class="head">&copy; WIMEA-ICT WDR</h4>

      <div class="header">
          <div class="col-lg-3">
              <img src="../../../assets/WIMEA LOGO.png" class="img-responsive">
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3">
              <img src="../../../assets/new-mak.png" class="img-responsive">
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-3">
              <img src="../../../assets/noradlogosort_.gif" class="img-responsive">
          </div>
          <div class="clearfix"></div>
          <hr>
          Enter your login credentials to continue

      </div>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
          <div class="body bg-gray">

              <div class="form-group">
                  <label>UserName:</label>
                  <input type="text"class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required placeholder="Enter your username"/>
                  <div *ngIf="f.submitted && username.invalid">
                    <div *ngIf="username.errors.required"  class="error">Username is required</div>
                  </div>
              </div>

              <div class="form-group">
                  <label>Password:</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"required minlength="6" />
                  <div *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required" class="error">Password is required</div>
                    <div *ngIf="password.errors.minlength" class="error">Password must be at least 6 characters</div>
                  </div>
              </div>
          </div>
          <div class="footer">

              <button class="btn bg-olive btn-block" name="login" >Sign me in</button>
              <hr>
              <p>In Partnership</p>
              <div class="col-lg-2">
                  <img src="../../../assets/logo.fw.png" class="img-responsive">
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-8">
                  <img src="../../../assets/bergen.gif" class="img-responsive">
              </div>
              <div class="clearfix"></div>
              <p><a href="" >I forgot my password</a></p>
              <div class="clearfix"></div>
              <div class="clearfix"></div>
          </div>
      </form>
  </div>




  </body>
  </html>

</ng-template>
