<section class="content-header" style="margin-left: 20%">
    <ol class=" row">
        <h3  class="active text-primary" >Add New User</h3>

    </ol>

</section>

<div class="app-body" style="margin-left: 20%; margin-right: 25%;">
  <div class="container-fluid" >
    <form name="form"  (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" name="FirstName" [(ngModel)]="form.FirstName" #FirstName="ngModel"
          required  style="border: 1px solid;"/>
       
       
      </div>
      <div class="form-group" >
        <label for="SurName">SurName</label>
        <input type="text" class="form-control" name="SurName" [(ngModel)]="form.SurName" #SurName="ngModel"
          required style="border: 1px solid;"/>
       
       
      </div>
      <div class="form-group" >
        <label for="email">UserEmail</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email style="border: 1px solid;"/>
        
      </div>
      <div class="form-group" >
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" style="border: 1px solid;" />
      
      </div>
      <div class="form-group">
        <label for="roles">User Role</label>
        <select class="form-control" name="roles[]" [(ngModel)]="form.roles" #roles="ngModel" required style="border: 1px solid;">
          <option>OBSERVER</option>
          <option>MANAGER DATA</option>
          <option>OC</option>
          <option>WEATHER FORECASTER</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-success">Add User</button>

      </div>
    </form>
  </div>
</div>