// Here you can add other styles
.app-body {
    background: #f9f9f9
}
 
//  .form-control{
//      border: 1px solid ;
//      border-radius: 2px;
// }
// .input-group-text {
//     border: 1px solid;
//     border-radius: 2px;
// }

.tab{
    border: 4px ;
}
.image img{
   width: 1100px;
   height: 500px; 
}